* {
    font-family: sans-serif;
    font-size: 30px;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
    background-image: url(../pics/katekoapple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(133, 194, 138), green);
}

#navbar img {
    width: 4rem;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 10%;
}

#navbar ul li {
    color: #fff;
    margin: 1rem;
}

#content {
    justify-content: center;
    position: relative; 
    background: linear-gradient(rgba(135, 216, 148, 0.7), rgba(163, 5, 5, 0.7));
    background-attachment: fixed;
    min-height: 100vh; 
}


#topcontent {
    padding-top: 10%;
    

}
