*{
    font-family: Arial, sans-serif;
    font-size:  24px;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.259)),url('../res/blur-hospital.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    height: 100vh;
}

nav { 
    background-color: #18bab0; 
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: sticky;
}

nav h1{
    font-weight: bolder;
    font-size: 1.5rem;
}
nav #trans{
    display: flex;
    flex-direction: row;
}

#trans a{
    font-weight: light;
    margin: 1rem;
    text-decoration: none;
    color:rgb(252, 250, 247);
    justify-content: space-around;
}
nav a img{
    width: 3rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient( #28615d72, #238b845b),url(../res/stetiscope.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width:50%;
    justify-self: center;
    margin: 4rem;
    border-radius: 24px;
    padding: 1rem;
}
